<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Configuración</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Warning!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Si reinicias los datos, se borrarán permanentemente todos tus ingresos y egresos registrados.
        </p>
        <ion-button expand="block" fill="outline" color="danger" (click)="confirmResetData()">
          <ion-icon name="warning" slot="start"></ion-icon>
          Reiniciar Todos los Datos
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>